<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/header.css">
    <link rel="stylesheet" href="/static/demopage.css">
    <link rel="icon" href="/static/icon.png" type="image/x-icon">
    <title>InsightInnovators</title>
</head>
<body>
    <header>
        <div class="nav-img">
            <a href="/"><img src="/static/InsightLogo.png" alt="InsightInnovators"></a>
        </div>
        <div class="nav-list">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/encrypt">ENCRYPT</a></li>
                <li><a href="/decrypt">DECRYPT</a></li>
            </ul>
        </div>
    </header>

    <div class="content">
        <div class="demo1">
            <h1>DEMO 1</h1>
            <img src="../static/demopage-img1.png" alt="img1">
            <h2>"CHAT"</h2>
            <p>Implement encryption measures to safeguard chat messages from unauthorized access, thereby protecting user privacy.</p>
            <a href="/demo1">TRY NOW</a>
        </div>
        <div class="demo2">
            <h1>DEMO 2</h1>
            <img src="../static/demopage-img2.png" alt="img1">
            <h2>"FINANCE"</h2>
            <p>Implement cutting-edge encryption measures to fortify the security of financial data, safeguarding sensitive information against unauthorized access and potential breaches.</p>
            <a href="/demo2">TRY NOW</a>
        </div>
        <div class="demo3">
            <h1>DEMO 3</h1>
            <img src="../static/demopage-img3.png" alt="img1">
            <h2>"HEALTHCARE"</h2>
            <p>Utilize state-of-the-art encryption techniques to bolster the security of healthcare data, safeguarding patient confidentiality and compliance with privacy regulations</p>
            <a href="/demo3">TRY NOW</a>
        </div>
    </div>
</body>
</html>