<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/mainpage.css">
    <link rel="stylesheet" href="/static/header.css">
    <link rel="icon" href="/static/icon.png" type="image/x-icon">
    <title>Insight Innovators</title>
</head>
<body>
    <header>
        <div class="nav-img">
            <a href="/"><img src="/static/InsightLogo.png" alt="InsightInnovators"></a>
        </div>
        <div class="nav-list">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/encrypt">ENCRYPT</a></li>
                <li><a href="/decrypt">DECRYPT</a></li>
            </ul>
        </div>
    </header>

    <div class="content">
        <div class="content-desc">
            <h1>Hi,&nbsp;We're Insight Innovators</h1>
            <h2>Rising Developer</h2>
            <p>We're a group of dedicated coders with a shared vision for innovation and progress in the tech world. From diverse backgrounds and skill sets, we come together with a singular purpose: to push boundaries and redefine what's possible through code. With each line we write, each algorithm we tweak, we're shaping the future of technology. Join us on this thrilling journey of discovery and creation.</p>
            <a href="/demoPage" class="try-btn">TRY DEMO</a>
            <a href="https://api.whatsapp.com/send?phone=60127173985" class="contact-btn">CONTACT US</a>
        </div>
        <div class="content-img">
            <img src="/static/InsightLogo.png" alt="InsightInnovators">
        </div>
    </div>
</body>
</html>